/* Sidebar Lists */
ul.nav-list { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    text-align: center; 
}

ul.nav-list li { 
    margin: 10px 0;  
    padding-bottom: 5px; 
}

ul.nav-list a { 
    color: white; 
    text-decoration: none; 
    font-weight: bold;
    border-bottom: 2px solid transparent; 
}

ul.nav-list a:hover { 
    border-bottom: 2px solid #9e7f4f; 
}

#update-log {
    background: #b98b4ed5;
    border: 1px solid #9e7f4f;
    padding: 20px;
    margin: 0;
    color: #f0e6d2;
}

/* Media Player Placeholder */
.media-row { 
    height: 25px;
    padding: 3px; 
    background: #b98b4ed5; 
    margin-bottom: 1px; 
    border: 1px solid #5d4a31; 
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.main-page-button {
    width: 100%; /* Increased width */
    height: 60px; /* Increased height */
    background-image: url('../assets/images/buttons/button.png');
    background-size:cover; /* Ensure the image covers the button */
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #5d4a31; /* Optional: adds a border */
    cursor: pointer;
    margin: 2px; /* Add some spacing between buttons */
}

.main-page-button:hover {
    filter: brightness(90%); /* Slightly darken on hover */
}

#btn1 { background-image: url('../assets/images/buttons/button.png'); }
#btn2 { background-image: url('../assets/images/buttons/button2.jpeg'); }
#btn3 { background-image: url('../assets/images/buttons/button 3.jpeg'); }
#btn4 { background-image: url('../assets/images/buttons/button 4.jpeg'); }

#profile-pic {
    width: 100%; 
    height: auto; 
    background: #575656;
}

#profile-pic img {
    width: 100%;
    height: auto;
    display: block;
}

.profile-box {
    text-align: center;
}

.bio-title {
    color: #9e7f4f;
}

#webmaster-desc {
    font-size: 0.8em; 
    border: 1px solid #9e7f4f; 
    padding: 5px;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #b98b4ed5;
    color: #f0e6d2;
    font-family: Impact, sans-serif;
}

/* Playlist styles */
.playlist-item {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #5d4a31;
}

.playlist-item:hover {
    background-color: #9e7f4f;
}

.playlist-item.active {
    background-color: #9e7f4f;
    font-weight: bold;
}
