/* Top Navigation */
nav.top-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: url('../assets/images/nav-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

nav.top-nav a {
    padding: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: 2px solid #867154;
    font-weight: bold;
    font-size: 0.9em;
    font-size: 20px;
    font-family: "Impact", sans-serif;
}

nav.top-nav a:hover { background: #5d4a314a; }

nav.top-nav a.active {
    background: #00000024;
}
